@charset "UTF-8";

#idfound_wrap{
    width: 1050px;
    margin: 0 auto;
}
.idfound_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 20px;
}
.idfound_sidenav {
    float:left;
    padding-top: 30px;
    width: 200px;
}
.idfound_side_table_div {
    padding-top: 10px;
}
.idfound_side_table {
    border: 1px solid rgba(179, 178, 178, 0.507);
    border-collapse: collapse;
    width: 200px;
}
.idfound_side_table td {
    border: 1px solid rgba(179, 178, 178, 0.507);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: rgb(129, 127, 127);
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
}
.idfound_side_table td div:first-child {
    float: left;
}
.idfound_side_table td div:last-child {
    float: right;
}
.idfound_side_table td a {
    text-decoration: none;
    color: rgb(129, 127, 127);
}
.idfound_side_table tr {
    border: 1px solid rgba(179, 178, 178, 0.507);
}
#idfound_form{
    float: right;
    width: 800px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-left: 10px;
    border-bottom: 2px solid #459356;
}
#idfound_form h2{
    padding: 20px;
    border-bottom: 2px solid #459356;
}
#idfound_form p{
    margin-left: 10px;
}
#idfound_form label{
    margin-left: 10px;
}
#pwfound_form{
    width: 800px;
    float: right;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-left: 10px;
    border-bottom: 2px solid #459356;
}
#pwfound_form h2{
    margin-left: 10px;
    padding: 20px;
    border-bottom: 2px solid #459356;
}
#pwfound_form p{
    margin-left: 10px;
}
#pwfound_form label{
    margin-left: 10px;
}
input {
    vertical-align:middle;
}
.input_text {
    width:250px;
    height:10px;
    background:url('input_bg.jpg') no-repeat;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding:15px;
    margin: 10px;
    font-size:16px;
    color:#aaa;
}
.found_btn_1{
    width: 200px;
    height: 50px;
    margin: 30px;
    border: 1px solid #459356;
    background-color: #459356;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 12px;
}
.found_btn_1:hover{
    border: 1px solid #276d36;
    background-color: #276d36;
}