@charset "UTF-8";

#event_wrap {
    margin:auto;
    max-width: 1050px;
}

#event_wrap > h3{
    padding: 10px 0;
}

.event_content{
    background-color: black;
    background:
    width: 1050px;
    height: 200px;
    margin-bottom: 20px;
}

.event_content > a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
#event_sub{
    width: 1050px;
    margin:auto;
    margin-bottom: 80px;
    position: relative;
}

#event_board {
	position: relative;
}
#event_board > div{
    border-bottom: 1px solid #ededed;
}
#event_board div.event_ViewContent{
    width: 100%;
    padding: 100px 0;
}
#event_board > div:first-child{
    height: 100px;
    line-height: 100px;
}
#event_board > div:nth-child(2){
    height: 40px;
    line-height: 40px;
    font-size: 0.8em;
}
#event_board > div:nth-child(2) > span:last-child{
	float:right;
}
#event_board button.button{
    width: 100px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #459356;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

