@charset "UTF-8";

#event_wrap {
    margin:auto;
    max-width: 1050px;
}

#event_wrap > h3{
    padding: 10px 0;
}

.event_content{
    background-color: black;
    width: 1050px;
    height: 200px;
    margin-bottom: 20px;
}

.event_content > a{
    display: inline-block;
    height: 100%;
}