@charset "UTF-8";

#item_detail_wrap{
    max-width: 1050px;
    min-width: 740px;
}
.item_detail_titleLink{
    border-bottom: 1.5px solid #459356;
    padding: 10px 0;
}
.item_detail_titleLink li{
    display: inline-block;
}
.item_detail_titleLink li > a:hover{
    color: #459356;
}

/* ===========item_detail_content1 // 상세페이지 상단============= */

#item_detail_content1_wrap {
    margin-top: 20px;
    height: 100%;
}

#item_detail_content1 {
    height: 100%;
    width: 100%;
}

/* -----item_detail_content1_left------- */

.item_detail_content1_left {
    width: 50%;
    height: 800px;
    float:left;
    border: 1px solid #ededed;
    position: relative;
}

.item_detail_content1_left .item_img{
	height: 85%;
	overflow: hidden;
}
#item_detail_content1_left .item_img, .item_img>img {
    width: 100%;
}
.item_detail_content1_left div:last-child{
    position: absolute;
    bottom: 3%;
    left: 5%;
}
.item_detail_content1_left div:last-child > p{
    display: inline-block;
}
.item_detail_content1_left div:last-child > p:last-child{
    padding-left: 30px;
}

/* -----------item_detail_content1_right---------  */

.item_detail_content1_right {
    width: 50%;
    height: 800px;
    float: left;
    border: 1px solid #ededed;
    padding: 3%;
}
.item_detail_desc > div {
    padding-bottom: 25px;
}
.item_detail_desc .goods_name {
    font-size: 2em;
    font-weight: 900;

}
#goods_prices p.goods_dc {
    display: inline-block;
    color:#459356;
    font-size: 1.8em;
    font-style: italic;
}
#goods_prices > p:last-child{
    display: inline-block;
    float:right;
}
#goods_prices span.goods_orPrice {
    color: #c3c3c3;
    text-decoration: line-through;
}
#goods_prices span.goods_dcPrice {
    color: #459356;
    font-size: 1.8em;
    font-weight: bold;
}


/* -------------goods_info - table */


#goods_info table {
    border-collapse: collapse;
}
#goods_info table tr {
    border-bottom: 1px solid rgba(211, 211, 211, 0.486);
    height: 45px;
}

#goods_info table td{
    padding: 12px 0;
}

#goods_info tr > td.goods_info_title{
    display: inline-block;

}

#goods_info tr > td.goods_info_title{
    width: 100px;
    display: inline-block;
    color: #666666;
    font-size: 0.8em;
}
#goods_info tr > td.goods_info_text{
    min-width: 350px;
    display: inline-block;
    font-size: 0.8em;
}
#goods_info tr:last-child{
    margin:0;
}
/* ----------/goods_info */





.goods_count {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.486);
}

.goods_count button {
    width: 30px;
    height: 30px;
    border:none;
    font-size: 15px;
    cursor: pointer;
    background-color: #459356;
    color: white;
    text-align: center;
    line-height: 30px;
}
.goods_count input{
    border:none;
    text-align: center;
    width: 50px;
}


/* -----------item_goods_price ---------  */
.total_goods_price > p{
	text-align: right;
}
.total_goods_price > p:last-child{
	font-weight: bold;
}
span.total_price{
	font-size: 2em;
}
button.orderbutton {
	width: 49%;
	height: 50px;
	color: white;
	display:inline-block;
	border:none;
	background-color: #459356;
	cursor: pointer;
}
button.goCart{
	background-color: white;
	color: #459356;
	font-weight: bold;
	border: 2px solid #459356;
}



/* -----------item_detail_reviewBox_top // 상품리뷰---------  */
#item_detail_reviewBox_top{
    clear:both;
    padding: 3%;
    border: 1px solid #ededed;
}

#item_detail_reviewBox_top > p.reviewMore, #item_detail_reviewBox_top > h3 {
    display:inline-block;
}
#item_detail_reviewBox_top > p.reviewMore {
    float:right;
}
#item_detail_reviewBox_top table{
    border-collapse: collapse;
    width: 100%;
}
tr.item_reviewBox {
    width: 49%;
    padding: 20px;
    display: inline-block;
}
tr.item_reviewBox > td {
    display: block;
}
.textEllipsis{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

/* =========== item_detail_content2 //상세페이지 ============= */

#item_detail_content2{
    padding: 20px 0;
}
.item_detail_nav{
    width: 100%;
    border-bottom: 1px solid #459356;
    margin: 20px 0;
    overflow:hidden;
}
.item_detail_nav li {
    display: inline-block;
    width: 24.59%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.item_detail_nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.on{
    background-color: #459356;
    color: white;
}

/* ==========상품정보 /테이블 ================== */

#goods_info_detail{
    padding: 20px 0;
}

#goods_info_detail h4{
    padding: 10px 0;
}


#goods_info_detail table{
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ededed;

}
#goods_info_detail table tr {
    border-bottom: 1px solid #ededed;
    height: 40px;
}

#goods_info_detail table td{
    font-size: 0.8em;
    color: #333333;
    padding: 10px 0px 10px 15px;
}
#goods_info_detail table td.goods_info_title{
    color: #6e6e6e;
    width: 150px;

}
#goods_info_detail table td.goods_info_text{
    color: #6e6e6e;
    width: 350px;

}
#item_detail_page > p {
    text-align: center;
    padding: 50px 0;
}

/* ============ 리뷰 */
#item_detail_content3 {
    margin-top: 130px;
}
#item_detail_content3 table {
    width: 100%;
    font-size: 0.8em;
}
/* ====================subTitle */
.item_detail_subTitle {
    padding: 30px 0 40px 0;
    border-bottom: 2px solid #333333;
}
.item_detail_subTitle > p{
    font-size: 0.8em;
    color: #6e6e6e;
}


tr.item_reviewBox2 {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ededed;
    display: inline-block;
}
tr.item_reviewBox2 > td {
    display: block;
}

/* ============ 상품문의 ============== */
#item_detail_content4 {
    margin-top: 130px;
}
#item_detail_content4 table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
    color:#6e6e6e;
    text-align: center;
}

.item_detail_subTitle{
    position: relative;
}

.QNAbutton {
    position: absolute;
    right: 0;
    top: 32px;
    border: 1px solid #459356;
    width: 100px;
    height: 41px;
    font-weight: bold;
    font-size: 0.8em;
    color: #459356;
    cursor: pointer;
    background-color: white;
}

#item_detail_content4 table tr {
    border-bottom: 1px solid #ededed;
    height: 50px;
}
#item_detail_content4 table tr td:nth-child(2){
    width: 70%;
    text-align:left;
    cursor: pointer;
}
.QNA_hide{
    display:none;
}
.QNA_hide td:nth-child(2){
    height: 180px;
}

/* ============ 교환배송안내 ============= */
#item_detail_content5{
    margin-top: 130px;
}

#item_detail_content5 table{
    width: 100%;
    font-size: 0.8em;
    border-collapse: collapse;
    text-align: left;
}
#item_detail_content5 table tr{
    height: 50px;
    border-bottom: 1px solid #ededed;
}
#item_detail_content5 table th{
    color: #6e6e6e;
     font-weight: lighter;
}
#item_detail_content5 table td{
    padding: 10px 0;
    color: #6e6e6e;
}

