@charset "UTF-8";

/* ========== header =========== */

#header_nav2{
    width: 1050px;
    height: 70px;
    margin: 0 auto;
    position:relative;
    text-align: center;
}
#header_nav2 > ul{
    height: 100%;
}
#header_nav2 > ul:first-child > li{
    display:inline-block;
    width: 20%;
    height: 100%;
    line-height: 70px;
    position:relative;
}
#header_nav2 .sub_nav2{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 150px;
    border: 1px solid #eeeeee;
    display:none;
    background-color: white;
}
#header_nav2 .sub_nav2 > li{
    font-size: 0.8em;
    line-height: 40px;
}
#header_nav2 .sub_nav2 > li a{
	font-weight: normal;
}
#header_nav2 >ul>li:hover .sub_nav2{
    display:block;
}

#header_nav2 a {
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}
#header_nav2 a:hover{
    color: #459356;
}
/* ========== /header =========== */


/* ========== event =========== */

/* 관리자 이벤트 작성 페이지 */
#event_write_wrap{
    max-width: 1050px;
    margin:auto;
    z-index: 99999;
}
#event_write_wrap h3{
    padding: 20px;
    border-bottom: 2px solid #459356;
    margin-bottom: 50px;
}
#event_write_wrap table{
    width: 800px;
    margin:auto;
    border-collapse: collapse;
}
#event_write_wrap table td{
    padding-bottom: 20px;
}
#event_write_wrap .event_content{
	width: 100%;
	height: 450px;
}
#event_write_wrap .submit_button{
    text-align: center;
}
#event_write_wrap table td > input[type="file"]{
    width: 50%;
    padding-left: 20px;
}
#event_write_wrap .event_title{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ededed;
    font-size: 1.1em;
}

#event_write_wrap textarea{
    resize: none;
    font-size: 1.1em;
    width: 100%;
    padding: 10px;
    border: 1px solid #ededed;
}
#event_write_wrap table td>span:last-child{
    font-size: 0.7em;
    text-align: right;
}
#event_write_wrap table:first-child input[type="submit"]{
    border:none;
    width: 100px;
    height: 50px;
    margin-top: 40px ;
    cursor: pointer;
    text-align: center;
    background-color: #459356;
    color: white;
}

/* 관리자 이벤트 리스트 페이지 */

#manager_eventList{
    width: 1050px;
    margin:auto;
	text-align: center;
}

#manager_eventList h3{
    padding: 20px 0;
    text-align: left;
}

#manager_eventList table{
    text-align: center;
    border-top: 2px solid #459356;
    border-bottom: 2px solid #459356;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 20px 0;
    
    
}

#manager_eventList table tr{
    height: 40px;
    border-bottom:1px solid #ededed;
}
#manager_eventList table tr:first-child{
	background-color: #4593561a;
}


#manager_eventList table td.event_title{
    width: 60%;
}

#manager_eventList .event_writeForm_button{
    width: 100px;
    margin-top: 10px;
    padding: 10px 0;
    border:none;
    background-color: #459356;
    color:white;

}


/* ========== /event =========== */



/* ========== 회원관리 =========== */
#member_manager_main_wrap {
    width: 1050px;
    margin: 0 auto;
    padding-top: 5px;
}
#member_manager_main_title {
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 10px;
}
.member_manager_selectBox {
    width: 1050px;
    border: 1px solid rgba(179, 178, 178, 0.507);
    height: 100px;
}
.member_manager_selectBox_serch {
    width: 1030px;
    height: 100px;
    margin-left: 10px;
} 
.member_manager_selectBox_serch_select {
    height: 30px;
    padding-left: 5px;
}
.member_manager_selectBox_serch_select_div {
    height: 30px;
    padding-top: 15px;
    text-align: center;
}
.member_manager_selectBox_serch_search {
    height: 28px;
    width: 250px;
}
.member_manager_selectBox_serch_btn {
    height: 30px;
    width: 70px;
    background-color: #459356;
    color: #fff;
}
.member_manager_selectBox_serch_btn:hover {
    height: 30px;
    width: 70px;
    background-color: #fff;
    color: #459356;
}
.member_manager_selectBox_serch_select_div_bottom {
    float: right;
    height: 30px;
    width: 150px;
    padding-top: 30px;
    text-align: right;
    padding-right: 10px;
}
#member_manager_selectBox_serch_select_div_bottom_a {
    text-decoration: none;
    color: rgb(50,50,50);
    font-size: 13px;
    font-family: "FontAwesome";
}
#member_manager_selectBox_bottom {
    width: 1050px;
    border-bottom: 1px solid rgba(179, 178, 178, 0.507);
    border-left: 1px solid rgba(179, 178, 178, 0.507);
    border-right: 1px solid rgba(179, 178, 178, 0.507);
    height: 150px;
    display: block;
}
.member_manager_selectBox_serch_bottom {
    width: 975px;
    height: 140px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 55px;
}
.member_manager_selectBox_serch_bottom_div_table {
    border-collapse: collapse;
    width: 900px;
}
.member_manager_selectBox_serch_bottom_div_td {
    color: rgb(50,50,50);
    font-size: 13px;
    height: 23px;
    padding-bottom: 5px;
}
.member_td1 {
    font-weight: bold;
    text-align: right;
    width: 140px;
}
.member_td2 {
    width: 315px;
    padding-left: 5px;
}
.member_td3 {
    font-weight: bold;
    text-align: right;
    width: 140px;
}
.member_td4 {
    width: 305px;
    padding-left: 5px;
}
.member_td5 {
    text-align: center;
    padding-top: 15px;
}
.member_td2 input[type="date"]{
    width: 120px;
    height: 23px;
}
.member_td2 select {
    height: 25px;
}
.member_td4 input[type="text"]{
    width: 80px;
    height: 20px;
}
.member_grade_text {
    width: 1050px;
    height: 20px;
}
.member_grade_text_label {
    font-size: 13px;
}
.member_grade_text_label i{
    font-family: "FontAwesome";
}
.member_grade_text_bottom {
    margin-top: 20px;
    text-align: right;
    padding-bottom: 10px;
}
.member_search_list {
    width: 1050px;
}
.member_search_list_table {
    width: 1050px;
    border-collapse: collapse;
    font-size: 13px;
    text-align: center;
    border-top: 2px solid #459356;
    border-bottom: 2px solid #459356;
    margin-bottom: 10px;
}
.member_search_list_td {
    border-bottom: 1px solid rgba(179, 178, 178, 0.507);
    height: 35px;
}
.member_search_list_td2 {
    background-color: #4593561a;
    font-weight: 600;
}
.member_search_list_td3 {
    width: 50px;
}
.member_search_list_td4 {
    width: 100px;
}
.member_search_list_td5 {
    height: 35px;
    text-align: left;
}
.member_search_list_td5 button {
    margin-right: 10px;
    background-color: #459356;
    color: #fff;
    height: 30px;
}
.member_search_list_td5 button:hover {
    margin-right: 10px;
    background-color: #fff;
    color: #459356;
    height: 30px;
}
.member_manager_select_page {
    width: 1050px;
    height: 30px;
    padding-top: 20px; 
}
.member_manager_select_page_table {
    border-collapse: collapse;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
}
.member_manager_select_page_td {
    height: 30px;
    width: 25px;
}
.member_manager_select_page_td a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 13px;
}
/* ========== /회원관리 =========== */

/* 상품관리 리스트 */
#managerlist_wrap {
    width: 1050px;
    margin: 0 auto;
}
#managerlist_header {
    height: 50px;
    border-bottom: 2px solid #459356;
}
#category {
    width: 150px;
    height: 30px;
}
#managerlist_body {
    width: 100%;
    margin-top: 30px;
}
#managerlist_body table{
    border-collapse: collapse;
    text-align: center;
    margin-top: 30px;
}
.managerlist_tr {
    height: 180px;
    border-bottom: 1px solid #459356;
}
.managerlist_tr:first-child {
    height: 50px;
}
.managerlist_td_check{
    width: 50px;
}
.managerlist_td_index{
    width: 150px;
}
.managerlist_td_category{
    width: 100px;
}
.managerlist_td_img{
    width: 200px;
}
.managerlist_td_name{
    width: 300px;
}
.managerlist_td_price{
    width: 200px;
}
.managerlist_table_div button{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    width: 150px;
    height: 30px;
}
/* 상품등록/수정페이지 */
/* 상품 등록 / 수정 */
#item_update_wrap {
    width: 1050px;
    margin: 0 auto;
}
#item_update_header {
    height: 50px;
    border-bottom: 2px solid #459356;
}
#item_update_body {
    padding: 30px;
    width: 800px;
    margin: 0 auto;
}
#category {
    width: 200px;
    height: 30px;
}
.item_update_tr {
    height: 70px;
}
.item_update_td {
    width: 200px;
}
.item_update_td input[type=text] {
    width: 600px;
    height: 50px;
    padding: 10px;
}
.item_update_td textarea {
    width: 600px;
    height: 400px;
    padding: 10px;
    resize: none;
}
#item_update_btn {
    padding: 30px;
    text-align: center;
}
#item_update_btn input{
    width: 150px;
    padding: 10px;
    text-align: center;
}