@charset "UTF-8";

/* ========== header =========== */

#header_nav2{
    width: 1050px;
    height: 70px;
    margin: 0 auto;
    position:relative;
    text-align: center;
}
#header_nav2 > ul{
    height: 100%;
}
#header_nav2 > ul:first-child > li{
    display:inline-block;
    width: 20%;
    height: 100%;
    line-height: 70px;
    position:relative;
}
#header_nav2 .sub_nav2{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 150px;
    border: 1px solid #eeeeee;
    display:none;
    background-color: white;
}
#header_nav2 .sub_nav2 > li{
    font-size: 0.8em;
    line-height: 40px;
}
#header_nav2 .sub_nav2 > li a{
	font-weight: normal;
}
#header_nav2 >ul>li:hover .sub_nav2{
    display:block;
}

#header_nav2 a {
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}
#header_nav2 a:hover{
    color: #459356;
}
/* ========== /header =========== */


/* ========== event =========== */

#event_write_wrap{
    max-width: 1050px;
    margin:auto;
}
#event_write_wrap h3{
    padding: 20px;
    border-bottom: 2px solid #459356;
    margin-bottom: 50px;
}
#event_write_wrap table{
    width: 800px;
    margin:auto;
    border-collapse: collapse;
}
#event_write_wrap table td{
    padding-bottom: 20px;
}
#event_write_wrap .submit_button{
    text-align: center;
}
#event_write_wrap table td > input[type="file"]{
    width: 50%;
    padding-left: 20px;
}
#event_write_wrap .event_title{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ededed;
    font-size: 1.1em;
}

#event_write_wrap textarea{
    resize: none;
    font-size: 1.1em;
    width: 100%;
    padding: 10px;
    border: 1px solid #ededed;
}
#event_write_wrap table td>span:last-child{
    font-size: 0.7em;
    text-align: right;
}
#event_write_wrap table:first-child input[type="submit"]{
    border:none;
    width: 200px;
    height: 50px;
    margin-top: 40px ;
    cursor: pointer;
    text-align: center;
    background-color: #459356;
    color: white;
}

/* ========== /event =========== */